* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  color: white;
  height: 100vh;
  overflow: hidden;
}

/* LOGIN */
#login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#login input {
  padding: 12px;
  width: 220px;
  border-radius: 6px;
  border: none;
}

#login button {
  padding: 12px 30px;
  background: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* APP */
.hidden {
  display: none;
}

#app {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.video {
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actions {
  position: absolute;
  right: 15px;
  bottom: 100px;
}

.actions button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}

